<?xml version="1.0"?>
<configuration>
		<configSections>
				<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		</configSections>
		<log4net>
				<appender name="RichTextBoxAppender" type="IQFeedDownloader.Logger.RichTextBoxAppender, IQFeedDownloader">
						<threshold value="INFO"/>
						<layout type="log4net.Layout.PatternLayout">
								<param name="ConversionPattern" value="%d{dd MMM HH:mm:ss} %-5p - %m%n" />
						</layout>
				</appender>
				<root>
						<appender-ref ref="RichTextBoxAppender" />
				</root>
		</log4net>
		<startup>
				<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
		</startup>
</configuration>

